# Ignore virtual documents
.virtual_documents/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env

# Ignore resources folder
/resources

# Ignore the master data file, too big: 5.3GB
/data/train.csv